<settings>
    <setting id="backup_Database" value="true" />
    <setting id="backup_LCD" value="true" />
    <setting id="backup_RssFeeds" value="true" />
    <setting id="backup_Thumbnails" value="false" />
    <setting id="backup_addon_data" value="true" />
    <setting id="backup_addons" value="false" />
    <setting id="backup_advancedsettings" value="true" />
    <setting id="backup_favourites" value="true" />
    <setting id="backup_fstab" value="true" />
    <setting id="backup_guisettings" value="true" />
    <setting id="backup_keyboard" value="true" />
    <setting id="backup_keymaps" value="true" />
    <setting id="backup_library" value="true" />
    <setting id="backup_location" value="" />
    <setting id="backup_location_typed" value="" />
    <setting id="backup_now" value="" />
    <setting id="backup_on_update" value="false" />
    <setting id="backup_peripheral_data" value="true" />
    <setting id="backup_playlists" value="true" />
    <setting id="backup_profiles" value="true" />
    <setting id="backup_remote" value="true" />
    <setting id="backup_sources" value="true" />
    <setting id="backup_upnpserver" value="true" />
    <setting id="check_day" value="0" />
    <setting id="check_freq" value="0" />
    <setting id="check_hour" value="12" />
    <setting id="check_minute" value="0" />
    <setting id="check_time" value="0" />
    <setting id="check_weekday" value="1" />
    <setting id="home_prompts_only" value="false" />
    <setting id="hotfix_now" value="" />
    <setting id="install_now" value="" />
    <setting id="install_now_visible" value="false" />
    <setting id="kodi_reset" value="false" />
    <setting id="location_selection" value="0" />
    <setting id="on_upd_detected" value="0" />
    <setting id="pos_x" value="4" />
    <setting id="pos_y" value="95" />
    <setting id="restore_now" value="" />
    <setting id="suppress_icon" value="false" />
    <setting id="suppress_progress" value="false" />
    <setting id="tarball_count" value="1" />
    <setting id="update_now" value="" />
    <setting id="update_on_idle" value="true" />
</settings>
