[Unit]
Description=Initial setup GPIO
After=multi-user.target

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/home/osmc/gpioset.py
ExecStop=/home/osmc/gpiooff.py

[Install]
WantedBy=multi-user.target
